@model AxelsBud.Models.bjollur
@{
    ViewBag.Title = "Varahlutir";
}
<head>
    <link href="~/MyCss/hjolin.css" rel="stylesheet" type="text/css" />
    <link href="~/MyCss/frontPage.css" rel="stylesheet" type="text/css" />
</head>
<html>
<body>
    <div class="content_container_wrapper">
        <div class="menu_container">
            <div class="menu_list">
                <a class="menu_item menu_title" href="/varahlutir"><div>Varahlutir</div></a>
                <a class="menu_item" href="/varahlutir/bremsubunadur"><div>Vírar,barkar,endar og beygjur</div></a>
                <a class="menu_item" href="/varahlutir/girskiptingar"><div>Gírskiptar</div></a>
                <a class="menu_item" href="/varahlutir/kedjur_girhlifar"><div>Keðjur og gírhlífar</div></a>
                <a class="menu_item menu_item_selected" href="/varahlutir/gjardir"><div>Gjarðir</div></a>
            </div>
        </div>
        <div class="vorurnar">
            <div class="vorurnar_title" style="font-size:2rem;"> Á mikið af fram og aftur gjörðum á lager og get fengið gjarðir ef að þær vantar  </div>
        </div>
    </div>
</body>
</html>

