@model AxelsBud.Models.bjollur
@{
    ViewBag.Title = "Varahlutir";
}
<head>
    <link href="~/MyCss/hjolin.css" rel="stylesheet" type="text/css" />
    <link href="~/MyCss/frontPage.css" rel="stylesheet" type="text/css" />
</head>
<html>
<body>
    <div class="content_container_wrapper">
        <div class="menu_container">
            <div class="menu_list">
                <a class="menu_item menu_title" href="/varahlutir"><div>Varahlutir</div></a>
                <a class="menu_item" href="/varahlutir/bremsubunadur"><div>Vírar,barkar,endar og beygjur</div></a>
                <a class="menu_item" href="/varahlutir/girskiptingar"><div>Gírskiptar</div></a>
                <a class="menu_item menu_item_selected" href="/varahlutir/kedjur_girhlifar"><div>Keðjur og gírhlífar</div></a>
                <a class="menu_item" href="/varahlutir/gjardir"><div>Gjarðir</div></a>
            </div>
        </div>
        <div class="content_container with_menu">
            @{
                for (int count = 0; count < Model.maxer; count++)
                {
                    <div class="content_grid_element">
                        <a href="/vorur?@(Model.audkenin[@count])">
                            <h3 class="content_grid_title">@Model.nofn[@count]</h3>
                            <div class="content_grid_img_wrapper">
                                <img class="content_grid_img" src="~/images/@(Model.myndir[@count]).png" />
                            </div>
                            <p class="content_grid_price"> @Model.verdin[@count] kr.</p>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</body>
</html>