/*Verð á vörunni*/
.price {
    font-size: 2.5rem;
}
/** Title fyrir vorurnar*/
.vorurnar_title {
    text-align: center;
    margin-top: 6%;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: -10%;
}
/* I need to push th econtainer a litle bit down*/
.voruListarnir {
    margin-top: 5%;
}

.vorurnar {
    margin-top: 5%;
}
/*container fyrir vörurunar á forsíðunni*/
.voruContainer{
    margin-top:42%;
    text-align:center;
}

.footercolumn{
    font-size:2rem;
    color:white;
}
a{
    color:black;
}
/*Footer í phone view */
@media (max-width: 790px) {

    #rows {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #222;
        bottom: 0;
        padding-top: 40px;

    }
}
/*Footer í Full view*/
@media (min-width:789px){
    #rows {
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        background-color: #222;
        padding-left: 20%;
    }
    .voruListarnir {
        width: 20%;
    }
    .vorurnar{
        width:80%;
    }

}
/*Drop downs List í layout*/
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: grey;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropDownListi{
    list-style-type:none;
}
.mobile_svg {
    margin-top: -1%;
    margin:5px;
}
.hausMynd{
    padding-left:5%;
}
#myndir {
    display: flex;
    justify-content: center;
    margin-right: 10%;
    color: white;
    margin-top: 1%;
}
.AxelsBudTextinn > a {
    color: white;
    font-size: 3rem;
    position: absolute;
    top: 70px;
    left: 80px;
}
div[target=vorulisti] {
    margin-left:-3%;
}
/* Hér þarf að determina hvort þetta á að vera 2 hjól á röð eða 3 eða 1*/
/*1 röð*/
@media(max-width:700px){
    .voruListarnir {
        width: 0%;
    }

    .vorurnar {
        width: 100%;
        margin-top:30%;
    }

    div[target=vara] {
        width: 100%;
        /*background-color: green;*/
    }

    .headerBreaker {
        height: 100px;
    }
    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        width:90%;
        height:90%;
        margin-left:5%;
    }
}
/* No greater than 900px, no less than 600px */
@media (max-width:1000px) and (min-width:701px) {
    .voruListarnir {
        width: 0%
    }

    .vorurnar {
        width: 100%;
        margin-top:12%;
    }
    div[target=vara] {
        width:50%;
    }
    .breaker {
        height: 280px;
    }
    .headerBreaker{
        height:100px;
    }
    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        margin-left: 20%;
    }
}
    /* No greater than 900px, no less than 600px */
    @media (max-width:1400px) and (min-width:1001px) {
        .voruListarnir {
            width: 40%;
            margin-left: -4%;
        }

        .vorurnar {
            width: 80%;
            margin-left: 10%;
        }

        div[target=vara] {
            width: 50%;
        }

        .breaker {
            height: 180px;
        }

        .headerBreaker {
            height: 80px;
        }
        #myImg {
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
            margin-left: 20%;
            width:100%;
        }
        /** Title fyrir vorurnar*/
        .vorurnar_title {
            text-align: center;
            margin-top: 10%;
            font-size: 2.5rem;
            font-weight: 600;
            margin-bottom: -10%;
        }
    }
    /* If view is bigger than 1500px than the logo on the top has to disappear*/
    @media(max-width:1500px){
        .AxelsBudTextinn > a{
            font-size:0rem;
        }    
    }
    .voruFyrirsogn {
        display: flex;
        justify-content: center;
        font-size: 3rem;
    }
/*One exception for ipad pro has to be last*/
@media (max-width:1200px) and (min-width:900px) {
    .breaker {
        height: 500px;
    }

    .headerBreaker {
        height: 100px;
    }
}
@media (min-width:1400px) {
    .breaker {
        height: 100px;
    }

    .headerBreaker {
        height: 100px;
    }
}


