
@{
    ViewBag.Title = "heimildamynd";
}
<head>
    <link href="~/MyCss/heimildamyndir.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="row doc_wrapper">
        <h1 class="doc_heading">Heimildarmynd um Axelsbúð</h1>
        <div class="doc_text">
            <p>Vorið 2005 var Axelsbúð á Akranesi lokað eftir áratuga rekstur. Þórður Ólafsson tók hús á Axel Gústafssyni rétt fyrir lokun og fór yfir sögu verslunarinnar. </p>
            <div class="doc_text_info">
                <p>Kvikmyndin er í tveimur hlutum, 28 mínútur alls:</p>
                <p>Fyrri hluti um 15 mín.</p>
                <p>Seinni hluti 13 mín.</p>
            </div>
            
        </div>
        <h3 class="doc_heading doc_video_heding">Fyrri hluti</h3>
        <video controls class="doc_video">
            <source src="~/videos/fyrri.mp4" type="video/mp4">
            <source src="~/videos/fyrri.mp4" type="video/ogg">
            Your browser does not support HTML5 video.
        </video>
        <h3 class="doc_heading doc_video_heding">Seinni hluti</h3>
        <video controls class="doc_video">
            <source src="~/videos/seinni.mp4" type="video/mp4">
            <source src="~/videos/seinni.mp4" type="video/ogg">
            Your browser does not support HTML5 video.
        </video>

    </div>
</body>