
@{
    ViewBag.Title = "heimildamynd";
}
<body>
    <div class="row">
        <br />
        <br />
        <br />
        <h2>heimildamynd</h2>
        <h3>Fyrri hluti</h3>
        <video width="400" controls>
            <source src="~/videos/fyrri.mp4" type="video/mp4">
            <source src="~/videos/fyrri.mp4" type="video/ogg">
            Your browser does not support HTML5 video.
        </video>
        <h3>Seinni hluti</h3>
        <video width="400" controls>
            <source src="~/videos/seinni.mp4" type="video/mp4">
            <source src="~/videos/seinni.mp4" type="video/ogg">
            Your browser does not support HTML5 video.
        </video>

    </div>
</body>