
@{
    ViewBag.Title = "um";
}

<body>
    <div class="container body-content">
        <div class="row">
            <br />
            <br />
            <br />
             <br />
            <h2>Sagan um Axelsbúð</h2>
            <p>Það var 18. desember 1942 sem Axel Sveinbjörnsson stofnaði verslun sína. Upphaflega hét hún Axel Sveinbjörnsson, Skipaverslun. Axel sá að það var skortur á vörum fyrir útgerðina og vildi hann því þjónusta bátunum og ýmsu sem því tilheirði. Þá þurfti að sækja um leifi til að fá að versla með vörur.  Axel og Lovísa Jónsdóttir kona hans unnu fyrst tvö í búðinni, en níu mánuðum eftir að þau byrjuðu var ungur maður ráðinn í vinnu. Það var Guðjón finnbogason. Guðjón var vinsæll afgreiðslumaður og vann í versluninni í 56 ár.   Axel byrjaði að versla í litlu húsnæði, eins og bílskúr að stærð. 1950 kaupir Axel verslunarhúsnæði og gat þá aukið vöruúrvalið mikið. <button onclick="showText()" id="buttId">sjá meira</button></p>
           
            <p class="hiddenText"id="showTextID"  style="display:none">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,

            </p>
            
        </div>
    </div>
    <script>
        function showText() {
            var ids = document.getElementById("showTextID");
            console.log(ids.style.display);
            if (ids.style.display == "") {
                console.log("NONE")
                document.getElementById("showTextID").style.display = "none";
                document.getElementById('buttId').innerText = 'sjá meira';
                
            } else {
                console.log("SHOW");
                document.getElementById("showTextID").style.display = "";
                document.getElementById('buttId').innerText = 'sjá minna';
            }

        }
    </script>
</body>
<style>
    #buttId {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        color:blue;
    }
</style>

