
@{
    ViewBag.Title = "karlaHjol";
}
<link href="~/MyCss/hjolin.css" rel="stylesheet" type="text/css" />
<link href="~/MyCss/frontPage.css" rel="stylesheet" type="text/css" />
<html>
<body>
    <!-- Fyrsta myndin Þetta er flipi á reiðhjólasíðuna-->
    <div class="container" style="display:flex;">
        <div class="voruListarnir">
            <div target="voruListi">
                <div class="dropDownListiVoruContainer">
                    <ul class="unorderdListVoruContainer">
                        <div class="vorurhaus">Reiðhjól</div>
                        <li class="voruLinkur">@Html.ActionLink("barnahjól", "", "barnahjol")</li>
                        <li class="voruLinkur_valinn">@Html.ActionLink("karlmannshjól", "", "karlahjol")</li>
                        <li class="voruLinkur">@Html.ActionLink("kvenmanshjól", "", "kvennahjol")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="vorurnar">
            <div class="col-md-4" target="vara">
                <div class="voruContainer">
                    <p class="voruFyrirsogn">Trek 3700</p>
                    <img src="~/images/reidhjol/hjolForsida.png" width="200" height="200" />
                    <p class="price">verð 17.500</p>
                </div>
            </div>
            <div class="col-md-4" target="vara">
                <div class="voruContainer">
                    <p class="voruFyrirsogn">Marvin 8</p>
                    <img src="~/images/reidhjol/hjolForsida.png" width="200" height="200" />
                    <p class="price">verð 17.500</p>
                </div>
            </div>
            <div class="col-md-4" target="vara">
                <div class="voruContainer">
                    <p class="voruFyrirsogn">Trek 4200</p>
                    <img src="~/images/reidhjol/hjolForsida.png" width="200" height="200" />
                    <p class="price">verð 17.500</p>
                </div>
            </div>
            <div class="col-md-4" target="vara">
                <div class="voruContainer">
                    <p class="voruFyrirsogn">Trek 3700</p>
                    <img src="~/images/reidhjol/hjolForsida.png" width="200" height="200" />
                </div>
            </div>
            <div class="col-md-4" target="vara">
                <div class="voruContainer">
                    <p class="voruFyrirsogn">Marvin 8</p>
                    <img src="~/images/reidhjol/hjolForsida.png" width="200" height="200" />
                </div>
            </div>
            <div class="col-md-4" target="vara">
                <div class="voruContainer">
                    <p class="voruFyrirsogn">Trek 4200</p>
                    <img src="~/images/reidhjol/hjolForsida.png" width="200" height="200" />
                </div>
            </div>
        </div>
    </div>



</body>
</html>

