
body {
    padding: 0 !important;
}


.nav_wrapper {
    width: 100%;
    background: #333;
    margin: 0 auto;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.nav_bar {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0 2rem;
    margin: 0 auto;
}

.nav_head_burger_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0;
    width: 100%;
}

.nav_hamburger {
    display: block;
    padding: 0.5rem;
    background-color: transparent;
    border: 1px solid #9d9d9d;
    border-radius: 4px;
    cursor: pointer;
    /*margin: 0.5rem 0;*/
}

.nav_hamburger:hover {
    background-color: #9d9d9d;
}

.nav_hamburger span {
    display: block;
    width: 2.5rem;
    height: 2px;
    margin: 0.5rem 0;
    border-radius: 1px;
    background: #fff;
}

.nav_button {
    font-size: 1.5rem;
    cursor: pointer;
    color: #9d9d9d;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 1rem;
    width: 25%;
    text-align: center;
}

.nav_button:hover {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}

.nav_button:hover > .dropdown_content {
    display: block;
}

.nav_links {
    /*Þarf að losna við .navbar-collapse.in */
    overflow-y: visible !important;
}

.nav_links_buttons {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -2rem;
    top: 100%;
    right: -2rem;
}

.dropdown_content a {
    color: black;
    padding :0.8rem;
    text-decoration: none;
    display: block;
}

.dropdown_content a:hover {
    background-color: #c8c8c8;
}


.nav_button > a {
    text-decoration: none;
    color: #9d9d9d;
}
.nav_button > a:hover {
    color: #fff;
}

.nav_button_home {
    font-size: 2rem;
    margin: 0.1rem;
    background-image: url(/images/logo.png);
    background-position: center;
    background-size: cover;
    color: transparent;
    width: 100% !important;
    border-radius: 4px;
    padding: 1rem !important;
}

.nav_button_home:hover {
    color: transparent;
    background-color: #9d9d9d;
}

.nav_logo_wrapper{
    padding: 0.2rem;
}


.footer_wrapper {
    width: 100%;
    background: #333;
    bottom: 0;
    margin: 0 auto;
    position: relative;
}

.footer_bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer_element {
    display: inline-block;
    margin: 1rem;
    /*width: 25%;*/
}

.footer_element, .footer_element a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #9d9d9d;
}

.footer_element p {
    margin: 0;
}

.footer_element:hover p {
    text-decoration: none;
    color: #fff;
}

.footer_img {
    display: block;
    height: 2.5rem;
    font-size: 1.5rem;
    margin: 0.5rem;
}

@media (min-width: 1000px) {
    .nav_links {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
        border-top: 1px solid transparent;
    }
    .nav_head_burger_wrapper {
        width:auto;
    }
    .nav_hamburger {
        display:none;
    }
    .nav_bar{
        flex-direction:row;
    }
    .nav_button {
        width: auto;
        padding: 2rem 1rem;
    }
}

@media  (max-width: 600px) {
    .nav_button {
        width: 50%;
    }
}