.voruNafn{
    font-size:1.5rem;
}
.voruHaus{
    display:flex;
    justify-content:center;
    font-size:3rem;
}
.vorurhaus {
    font-size: 4rem;
    font-weight: bold;
}
#row1{
    background-color:red;
}
.dropDownListiVoruContainer {
    width: 40%;
    margin-top: 20%;
}
@media (max-width: 992px) {
    .unorderdListVoruContainer {
        list-style-type: none;
        font-size: 2.5rem;
        color: black;
        display:none;
    }
}
/*Footer í Full view*/
@media (min-width:991px) {
    .unorderdListVoruContainer {
        list-style-type: none;
        font-size: 2.2rem;
        color: black;
        width: 230%;
    }
}
.voruLinkur{
    border-bottom:solid black;
    padding-top:10%;
}
.voruLinkur_valinn {
    font-weight: bold;
    border-bottom: solid black;
    padding-top: 10%;
}
a {
    color: black;
}
