.all_content {
    max-width:1200px;
    margin: 0 auto;
}

.candels_title_wrapper {
    text-align:center;
}

.candels_title_img {
    display:block;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}