@model AxelsBud.Models.bjollur
@{
    ViewBag.Title = "Bjöllur";
}
<head>
    <link href="~/MyCss/hjolin.css" rel="stylesheet" type="text/css" />
    <link href="~/MyCss/frontPage.css" rel="stylesheet" type="text/css" />
</head>

<html>
<body>
    <!-- Fyrsta myndin Þetta er flipi á reiðhjólasíðuna-->
    <div class="content_container_wrapper">
        <div class="menu_container">
            <div class="menu_list">
                <a class="menu_item menu_title" href="/aukahlutir"><div>Aukahlutir</div></a>
                <a class="menu_item" href="/aukahlutir/bjollur"><div>Bjöllur</div></a>
                <a class="menu_item" href="/aukahlutir/bretti"><div>Bretti</div></a>
                <a class="menu_item" href="/aukahlutir/bogglaberar"><div>Bögglaberar</div></a>
                <a class="menu_item menu_item_selected" href="/aukahlutir/hradamaelar"><div>Hraðamælar</div></a>
                <a class="menu_item" href="/aukahlutir/pedalar"><div>Körfur</div></a>
                <a class="menu_item" href="/aukahlutir/ljos"><div>Ljós</div></a>
                <a class="menu_item" href="/aukahlutir/pumpur"><div>Pedalar</div></a>
                <a class="menu_item" href="/aukahlutir/pumpur"><div>Pumpur</div></a>
                <a class="menu_item" href="/aukahlutir/standarar"><div>Standarar</div></a>
                <a class="menu_item" href="/aukahlutir/styrisendar"><div>Stýrisendar</div></a>
                <a class="menu_item" href="/aukahlutir/vatnsfloskur_statif"><div>Vatnsflöskur og statíf</div></a>
                <a class="menu_item" href="/aukahlutir/hnakkar"><div>Hnakkar</div></a>
                <a class="menu_item" href="/aukahlutir/lasar"><div>Lásar</div></a>
            </div>
        </div>
        <div class="content_container with_menu">
            @{
                for (int count = 0; count < Model.maxer; count++)
                {
                    <div class="content_grid_element">
                        <a href="/vorur?@(Model.audkenin[@count])">
                            <h3 class="content_grid_title">@Model.nofn[@count]</h3>
                            <div class="content_grid_img_wrapper">
                                <img class="content_grid_img" src="~/images/@(Model.myndir[@count]).png" />
                            </div>
                            <p class="content_grid_price"> @Model.verdin[@count] kr.</p>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</body>
</html>